.wrap {
  width: 640px;
  margin: 0 auto;
}
.number {
  margin-bottom: 0;
  padding-bottom: 0;
  color: #F2F2F3;
  font-family: 'Iceland';
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.status {
  color: #00cccc;
}

.header {
  margin: 0;

}

.img_wrap {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
}

.border {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: #1c1c21;
}

.img {
  position: relative;
  right: 25px;
  width: 112px;
  height: 56px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.quantity {
  margin-left: auto;
}

.list {
  max-height: 320px;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.total {
  margin-left: auto;
}
